<!DOCTYPE html>
<html>
<body>

    <section class="service_section layout_padding">
      <div class="container py_mobile_45">
        <div class="row">
          <div class="col-md-6">
            <div class="box " (click)="usuarios()">
              <div class="img-box sevice">
                <img src="../assets/images/per10.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Usuarios
                </h5>
                <p>
                  Sección para la administración de los habitantes.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="box " (click)="ciudades()">
              <div class="img-box sevice">
                <img src="../assets/images/agenda1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ciudades
                </h5>
                <p>
                  Sección para la administración de ciudades.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

</body>

</html>