<div class="main_content">
  <div class="main_content_bg">
    <img src="../assets/images/content-bg.jpg" alt="">
  </div>
  <div class="espacio1">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://images.unsplash.com/photo-1603793516210-5cf879f819af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGNpdHl8ZW58MHx8MHx8&w=1000&q=80"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8 campos">
          <div class="card-body">
            <div class="container">
              <form
                [formGroup]="formCiudad"
                class="row g-3"
                (ngSubmit)="postform(formCiudad.value)"
              >
                <p class="estilo">Registrar Ciudad</p>
                <div class="col-md-12">
                  <label for="ciudad" class="form-label">Ciudad</label>
                  <input
                    placeholder="Digite el Nombre de la Ciudad"
                    type="text"
                    class="form-control"
                    id="ciudad"
                    formControlName="ciudad"
                    required="true"
                  />
                </div>

                <div class="d-grid gap-2 d-md-block estilos">
                  <button type="submit" class="btn btn-success register">
                    Registrar
                  </button>
                  <button class="btn btn-secondary" type="reset">
                    Limpiar Formulario
                  </button>

                  <button
                    id="back"
                    type="button"
                    class="btn btn-dark"
                    (click)="regresar()"
                  >
                    <i class="fa fa-home"><p class="b1t">Regresar</p></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
