<div class="main_content">
  <div class="main_content_bg">
    <img src="../assets/images/content-bg.jpg" alt="">
  </div>
  <div class="espacio1">
  <div>
    <div class="row espacio2">
      <div class="card card1">
        <div class="card-body">
          <table class="table table-striped center1">
            <thead>
              <th>#</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Cedula</th>
              <th>Ciudad</th>
              <th>Editar</th>
              <th>Borrar</th>
            </thead>
            <tbody>

              <tr *ngFor="let us of usuario">
                <td>{{ us.id }}</td>
                <td>{{ us.nombres }}</td>
                <td>{{ us.apellidos }}</td>
                <td>{{ us.direccion }}</td>
                <td>{{ us.telefono }}</td>
                <td>{{ us.cedula }}</td>
                <td>{{ us.ciudad }}</td>
                <td><button (click)="editarUsuario(us.id)" class="btn btn-warning">Editar</button></td>
                <td><button (click)="eliminarUser(us.id)" class="btn btn-danger">Borrar</button></td>
              </tr>
            </tbody>
          </table>
          <button type="submit" (click)='nuevoUsuario()' class="btn btn-success salto">Nuevo Usuario</button>
          <button type="submit" (click)='ciudades()' class="btn btn-primary salto">Ciudades</button>
          <button
                    id="back"
                    type="button"
                    class="btn btn-dark"
                    (click)="regresar()"
                  >
                    <i class="fa fa-home"><p class="b1t">Regresar</p></i>
                  </button>
        </div>
      </div>
    </div>
  </div>
  </div>
